{% extends 'base.html' %}

{% block content %}

    <div class="container d-flex justify-content-center align-items-center">
        <div class="card my-5 p-4 border-primary rounded shadow" style="background-color: rgba(249, 240, 223, 0.5);">
            <section class="py-5">
                <div class="container">
                    <div class="text-center">
                        <span class="text-muted">Our Story</span>
                        <h2 class="display-5 fw-bold mb-3">About Us</h2>
                    </div>
                    <div class="row gx-5">
                        <div class="col-md-6">
                            <div class="lead text-center text-md-start">
                                <p>Welcome to TradehubX, where we transform the way you buy and sell properties with an innovative and engaging auction platform. At TradehubX, we believe that acquiring a home should be an exciting and seamless experience. Our platform connects buyers and sellers in a transparent, efficient, and user-friendly way, making property transactions both enjoyable and hassle-free</p>
                            </div>
                            <div class="lead text-center text-md-start">
                                <p>Established with the goal of redefining the auction industry, TradehubX leverages advanced technology and expert insights to offer a diverse range of items through live and timed auctions. Whether you're searching for your dream home, unique collectibles, vehicles, or planning to sell valuable assets, our dedicated team is here to ensure a seamless and successful auction experience.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="lead text-center text-md-start">
                                <p>Our dedication to quality is evident in every auction we host. From providing comprehensive property details to delivering real-time updates and prompt customer support, we aim to offer unparalleled service. At TradehubX, we don’t just facilitate property sales; we create opportunities and foster communities.
                                </p>
                            </div>
                            <br>
                            <div class="lead text-center text-md-start">
                                <p>Join us on this exciting journey and discover how TradehubX can help you achieve your buying and selling goals—whether it's real estate, valuable collectibles, or other unique items. Step into the future of dynamic and engaging auctions—welcome to TradehubX.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
        </div>
    </div>

<style>
    p {
        margin-bottom: 10px; 
        font-size: 20px; 
        font-weight: 500;
        color: rgb(40, 42, 95);
}
</style>
{% endblock %}